<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Design Index</title>
    </head>
    <body>
        <h1>Design module Index page design.views.index</h1>
        <a href="/design/collections/">Collections</a><br>
        <a href="/design/collections/create">Create Collections</a><br>
        <a href="/design/designs/">Designs</a><br>
        <a href="/design/create">Create Design</a><br>
    </body>
</html>