{% extends 'partials/base.html' %}
{% block stylesheets %}
{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'design/design.css' %}">
{% endblock %}
{% block title %}Batches{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'production:productionIndex' %}">Producción</a></li>
    <li class="breadcrumb-item"><a href="{% url 'production:batches' %}">Lotes</a></li>
{% endblock %}
{% block content %}
<div class="container">
    <!-- Section 1: Active Batches -->
    <h2>Lotes activos</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Creado el</th>
                <th>Asignacion actual</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% if active_batches %}
                {% for item in active_batches %}
                    <tr>
                        <td><a href="{% url 'production:batch' item.batch.id %}">{{ item.batch.id }}</a></td>
                        <td>{{ item.batch.created_at|date:"d/m/Y H:i" }}</td>
                        <td>
                            {% if item.active_assignment %}
                            {{ item.active_assignment }}
                            {% else %}
                            No hay asignación
                            {% endif %}
                        </td>
                        <td>{{ item.batch.status }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="4" class="text-center">
                            <a href="{% url 'production:batch_creation' %}" class="btn btn-sm btn-primary ms-3">Crear nuevo lote</a>
                        </td>
                    </tr>
            {% else %}
            {% endif %}
        </tbody>
    </table>
    
    <!-- Section 2: Historical Batches -->
    <h2>Histórico</h2>
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Creado el</th>
                <th>Unidades finales</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody>
            {% for batch in historical_batches %}
            <tr>
                <td><a href="{% url 'production:batch' batch.id %}">{{ batch.id }}</a></td>
                <td>{{ batch.created_at|date:"d/m/Y H:i" }}</td>
                <td>{{ batch.final_quantity }}</td>
                <td>{{ batch.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}