{% extends 'partials/base.html' %}
{% block title %}Batch detail{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'production:productionIndex' %}">Producción</a></li>
    <li class="breadcrumb-item"><a href="{% url 'production:batches' %}">Lotes</a></li>
    <li class="breadcrumb-item"><a href="/production/batches/{{batch.id}}">{{batch.id}}</a></li>
{% endblock %}
{% block content %}
<div class="container" id="batch-container">
    <div id="batch-header">
        <h1 id="batch-detail-title">Lote: #{{batch.id}}</h1>
        <h2><span class="badge bg-primary" id="batch-status-badge">{{batch.status}}</span></h2>
        <h4 class="text-muted" id="batch-creation-date">{{batch.created_at}}</h4>
    </div>
    <div class="batch-info">
        <div class="batch-info-item col-4">
            <a href="/design/designs/{{batch.design.id}}"><h5 class="mb-3">Diseño</h5></a>
        </div>
        <div class="batch-info-item col-4">
            <h5 class="m-0">Cantidad inicial:    </h5>
            <p>{{batch.initial_quantity}}</p>
        </div>
        <div class="batch-info-item col-lg-6 col-md-12 col-sm-12">
            <h5 class="m-0">Procesos:     </h5>
            <nav style="--bs-breadcrumb-divider: '->';" aria-label="breadcrumb">
                <ol class="breadcrumb">
                    {% for item in processes %}
                        <li class="breadcrumb-item">{{item.process}}</li>
                    {% endfor %}
                </ol>
            </nav>
        </div>
    </div>
    <div class="card mb-4">
        <div class="card-header">
            Procesos de Producción
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Proceso</th>
                        <th>Taller</th>
                        <th>Estado</th>
                        <th>Fecha Entrega</th>
                    </tr>
                </thead>
                <tbody>
                {% for item in processes %}
                    <tr class="{% if item.assignment and item.assignment.status == 'active' %}table-primary{% endif %}">
                        <td>{{ item.process }}</td>
                        
                        {% if item.is_assigned %}
                            <td>{{ item.assignment.workshop.name }}</td>
                            <td>{{ item.assignment.status }}</td>
                            <td>{{ item.assignment.expected_delivery|date:"d/m/Y H:i" }}</td>
                        {% else %}
                            <td colspan="3">
                                <form method="post" action="{% url 'production:assign_batch' batch.id item.process.id%}" 
                                    class="row g-2">
                                    {% csrf_token %}
                                    <div class="col-md-5">
                                        <select name="workshop" class="form-select" required>
                                            <option value="">Seleccionar taller</option>
                                            {% for workshop in workshops %}
                                            <option value="{{ workshop.id }}">{{ workshop.name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                    <div class="col-md-5">
                                        <input type="datetime-local" name="expected_delivery" 
                                            class="form-control" required>
                                    </div>
                                    <div class="col-md-2">
                                        <button type="submit" class="btn btn-sm btn-success">
                                            Asignar
                                        </button>
                                    </div>
                                </form>
                            </td>
                        {% endif %}
                        <td>
                            {% if item.assignment.status == 'active' %}
                            <div class="col-md-5">
                                <a href="{% url 'production:assignment_mark_recieved' item.assignment.id%}" class="btn btn-primary text-light">Recibir</a>
                            </div>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const batchContainer = document.getElementById('batch-container');
        const batchHeader = document.getElementById('batch-header');
        const batchDetailTitle = document.getElementById('batch-detail-title');
        const batchStatusBadge = document.getElementById('batch-status-badge');
        const batchCreationDate = document.getElementById('batch-creation-date');


    });
</script>
{% endblock %}