{% extends 'partials/base.html' %}
{% block title %}Workshop Creation Form{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'production:productionIndex' %}">Producción</a></li>
    <li class="breadcrumb-item"><a href="{% url 'production:batches' %}">Lotes</a></li>
    <li class="breadcrumb-item"><a href="{% url 'production:batch_creation' %}">Crear Lotes</a></li>
{% endblock %}
{% block content %}
    <h1>Nuevo Lote</h1>
    <form method="post" enctype="multipart/form-data" class="form batch-form">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Crear Lote</button> 
        {% if errors %}
            <div class="alert alert-danger mt-3 errorbox">
                <h4 class="alert-heading">Error</h4>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
{% endblock %}