{% extends 'partials/base.html' %}
{% block title %}Collections{% endblock %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'design:designIndex' %}">Diseño</a></li>
<li class="breadcrumb-item"><a href="{% url 'design:collections' %}">Colecciones</a></li>
{% endblock %}
{% block content %}
    <h1>Collections</h1>
    <div class="container">
        <form action="">
            <label for="searchCollection" class="form-label">
                Buscar
            </label>
            <input type="text" name="searchCollection" id="searchCollection">
            <button type="submit" aria-label="search-button"><i class="lni lni-search-1"></i></button>
        </form>
    </div>
    {% if searchTerm %}
        <p>Buscando: {{searchTerm}}</p>
    {% endif %}
    <div class="collection-list">
        {% for collection in collections %}
            <div class="collection">
                <h2>{{collection.name}}</h2>
                <p>{{collection.description}}</p>
                <a href="/design/collections/{{collection.id}}">View Collection</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}