{% extends 'partials/base.html' %}
{% block title %}Collection Creation Form{% endblock %}
{% block breadcrumb %}
    <li class="breadcrumb-item"><a href="{% url 'design:designIndex' %}">Diseño</a></li>
    <li class="breadcrumb-item"><a href="{% url 'design:collections' %}">Colecciones</a></li>
    <li class="breadcrumb-item"><a href="{% url 'design:collection_creation' %}">Crear colección</a></li>
{% endblock %}
{% block content %}
    <h1>Crea una colección</h1>
    <form method="post" enctype="multipart/form-data" class="form collection-form">
        {% csrf_token %}
        {{form}}
        <button type="submit" class="btn btn-primary">Crear colección</button> 
        {% if errors %}
            <div class="alert alert-danger mt-3 errorbox">
                <h4 class="alert-heading">Error</h4>
                <ul>
                    {% for field, errors in form.errors.items %}
                        {% for error in errors %}
                            <li>{{error}}</li>
                        {% endfor %}
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    </form>
{% endblock %}